{#{%if fetch_hamburger is defined %}
    {{ fetch_hamburger |raw  }}  
{%endif%}#}

{% verbatim %}
    <amp-state id="autosuggest">
        <script type="application/json">
            {
            "endpoint": "/advanced/autosuggest/search_list?q=",
            "emptyAndInitialTemplateJson": [{
            "query": "{%endverbatim%}{{search}}{%verbatim%}",
            "results": []
            }]
            }
        </script>
    </amp-state>
{%endverbatim%}

<div  class="structure_Header">
    <a href="{{generate('allCategoriesProduct')}}">
        <amp-img class="allCategoriesLink" alt="Menu" layout="fixed" height='26' width='29' src="/images/menu.png"></amp-img>         
    </a>
{#    <amp-img role="option" tabindex="0" on='tap:sidebar1.toggle' class="allCategoriesLink" alt="Menu" layout="fixed" height='26' width='29' src="/images/btnAllCatAmp.jpg"></amp-img> #}
    
    <a class="logo" href="/">
        <amp-img alt="Logo" layout="fixed" height='52' width='203'  src="/images/logoscritta.png"></amp-img>
    </a>
    {#<div class="loginUser">
        <button class="mediaUser" on="tap:lightbox" ><amp-img alt="Login" class="imgUser"  src="/images/person-icon.png" layout="fixed" width="37px" height="30px" ></amp-img> Accedi</button>   
    </div>#}
    {#<div class="wrapper"
         on="tap:AMP.setState({showDropdown:false})"
         role="button"
         tabindex="0"
         aria-label="Tap to close the autosuggest box">
        <form method="GET" action="aSearch" target="_top" class="searchFilter"
              on="
              submit: autosuggest-list.hide;
              data-submit-success: autosuggest-list.hide;
              data-submit-error: autosuggest-list.hide">
            <select name="category" class="selectSearchHome" >
                <option value="">Tutto</option>
                {% for category in allCategories %}
                    <option {%if catSubcatTypologySearch is defined and catSubcatTypologySearch|lower == category.name|lower%}selected="selected"{%endif%} value="{{category.id}}">
                        {{category.name}}
                    </option>
                {% endfor %}
            </select>
            {% verbatim %}
                <input name="search" class="inputSearchBox" placeholder="Riceca prodotti ..." 
                       type="text"
                       on="
                       input-debounced:
                       AMP.setState({
                       query: event.value,
                       showDropdown: event.value,
                       }),
                       autosuggest-list.show;
                       tap:
                       AMP.setState({
                       query: query == null ? '' : query,
                       showDropdown: 'true'
                       }),
                       autosuggest-list.show"
                       
                {% endverbatim %} value="{{search}}" {% verbatim %}
                    required
                    autocomplete="off">

            {% endverbatim %}
            <input type="submit" class="btnSearch" value="Cerca">        
            {%if fetch_widget_FilterProduct is defined %}
                {{ fetch_widget_FilterProduct |raw  }}
            {%endif%}
            {% verbatim %}
                <div class="suggest">
                    <div class="autosuggest-container hidden"
                         [class]="(showDropdown && query) ?
                         'autosuggest-container' :
                         'autosuggest-container hidden'">
                         <amp-list class="autosuggest-box"
                              layout="responsive"
                              height="641"
                              width="320"
                              src="/advanced/autosuggest/search_list"
                              [src]="query ?
                              autosuggest.endpoint + query :
                              autosuggest.emptyAndInitialTemplateJson"
                              id="autosuggest-list">
                              <template type="amp-mustache">
                                <amp-selector id="autosuggest-selector"
                                              keyboard-select-mode="focus"
                                              layout="container"
                                              on="
                                              select:
                                              AMP.setState({
                                              query: event.targetOption,
                                              showDropdown: false
                                              }),
                                              autosuggest-list.hide">
                                    {{#results}}
                                    {{#separator}}
                                        <div class="separator">{{separator}}</div>
                                    {{/separator}}
                                    {{^ separator}}
                                        <div on="tap:AMP.navigateTo(url='{{url}}')" class="select-option no-outline {{#class}}{{class}}{{/class}}"
                                            role="option"
                                            tabindex="0"
                                            option="{{name}}">
                                            
                                            {{#img}}
                                                <amp-img class="photo" alt="{{name}}" layout="fixed" height='50' width='50' src="{{img}}"></amp-img> 
                                            {{/img}}
                                            <div class="infos">
                                                <div>{{name}}</div>
                                                {{#price}}                                                    
                                                    <div>a partire da: <span class="minPrice">{{price}}€</span></div>
                                                {{/price}}
                                                {{^ price}}
                                                    {{#adviceprice}}                                                                                                        
                                                        <div>di listino: <span class="minPrice">{{adviceprice}}€</span></div>
                                                    {{/adviceprice}}   
                                                {{/price}}
                                            </div>
                                        </div>  
                                    {{/separator}}
                                    
                                    {{/results}} {{^ results}}
                                    <div class="select-option {{#query}}empty{{/query}}">
                                        {{#query}}Spiacenti! <br>Non sono stati trovati risultati!{{/query}}
                                    </div>
                                    {{/results}}
                                </amp-selector>
                            </template>
                        </amp-list>                
                    </div>
                </div>
                <div data-submit-success>
                    <template type="amp-mustache">
                        {{result}}
                    </template>
                </div>
                <div data-submit-error>
                    <template type="amp-mustache">
                        {{#result}}{{result}}{{/result}} {{^ result}}Sorry! Something went wrong.{{/result}}
                    </template>
                {% endverbatim %}
            </div>
        </form>
    </div>#}
    {%if fetch_structure_Header is defined %}
        {{ fetch_structure_Header |raw  }}  
    {%endif%}
</div>

