{% if model is defined %}
    <section  class="widget_ProductDescription">
{#        <h2><strong>{{sectionProductName|replace({'-':''})}} {{model.name}}</strong></h2>        #}
            <amp-accordion disable-session-states>
                {% if model.longDescription is not empty %}
                    <section class="GTMDescriptionModel">
                        <h3><a name="infoProduct" rel="nofollow"> Descrizione</a> <strong>+</strong></h3>
                        <div>
                            {% if model.longDescription is not empty %}
                                <div class="listDescription">                            
                                    <h4>
                                        {{ convertPtoBR( utf8Encode( model.longDescription ) ) | raw }}
                                    </h4>
                                </div>
                            {% endif %}                                        
                        </div>
                    </section>
                {% endif %}    
                {% if extraModel.bulletPoints is defined and extraModel.bulletPoints is not empty %}
                    <section class="GTMBulletPoint">                
                        <h3>Caratteristiche <strong>+</strong></h3>
                        <div class="extraProduct">
                            <ul>
                                {% for bulletPoint in extraModel.bulletPoints %}
                                    <li>{{ utf8Encode( bulletPoint ) }}</li>
                                {% endfor %}
                            </ul>
                        </div>                    
                    </section>
                {% endif %}
                {% if extraModel.technicalSpecifications is not empty %}
                    <section class="GTMtechnicalSpecifications">
                        <h3><a name="tecnical" rel="nofollow">Scheda Tecnica</a> <strong>+</strong></h3>
                        <div class="specications">                            
                            {% for technicalSpecification in extraModel.technicalSpecifications %}
                                {% if technicalSpecification.isLabel is empty %}
                                    <div>
                                        <span class="name">{{ utf8Encode( technicalSpecification.name ) }}</span>
                                        <span class="value">{{ utf8Encode( technicalSpecification.value ) }}</span>
                                    </div>
                                {% else %}
                                    <div class="itemLabel">{{utf8Encode( technicalSpecification.name )}}</div>
                                {% endif %}
                            {% endfor %}        
                            {% if model.productPageUrl is not empty or model.manualUrl is not empty %}
                                <div class="itemLabel">Link Manuale e pagina del prodotto</div>
                                {% if model.productPageUrl is not empty %}
                                    <div>
                                        <span class="name">Pagina Ufficiale</span>
                                        <span class="value"><a href="{{ model.productPageUrl }}" target="_blank">{{ model.productPageUrl }}</a></span>
                                    </div>
                                {%endif%}
                                {% if model.manualUrl is not empty %}
                                    <div>
                                        <span class="name">Manuale</span>
                                        <span class="value"><a href="{{ model.manualUrl }}" target="_blank">{{ model.manualUrl }}</a></span>
                                    </div>
                                {%endif%}
                            {%endif%}
                        </div>
                    </section>
                {% endif %}                              
                <section class="GTMpricesTrend">
                    <h3>Andamento Prezzi <strong>+</strong></h3>
                    <amp-iframe width="300" height="150"
                        sandbox="allow-scripts "
                        layout="responsive"
                        frameborder="0"
                        src="/priceTrendModel/{{model.id}}">
                    </amp-iframe>
                </section>                
                
                {% if comparisonModels is not empty %}
                   <section class="GTMcomparisonModel">
                        <h3>Comparazione <strong>+</strong></h3>
                        <article class="comparisonModels">
                            {% for model in comparisonModels%}  
                                <a href="{{model.url}}" title="Comparazione {{model.name[0]}} vs {{model.name[1]}}">
                                    <div class="ele">
                                        <div class="item">
                                            <amp-img layout="fixed" src="{{folder_img_models}}{{model.img[0]}}" alt="{{model.name[0]}}" width="{{model.widthSmall[0]}}" height="{{model.heightSmall[0]}}"></amp-img>
                                            <div class="name">
                                                <h3>{{model.name[0]}}</h3>
                                            </div>
                                        </div>
                                        <div class="versus">VS</div>                        
                                        <div class="item">                        
                                            <amp-img layout="fixed" src="{{folder_img_models}}{{model.img[1]}}" alt="{{model.name[1]}}" width="{{model.widthSmall[1]}}" height="{{model.heightSmall[1]}}"></amp-img>
                                            <div class="name">
                                                <h3>{{model.name[1]}}</h3>
                                            </div>
                                        </div>   
                                    </div>
                                </a>
                            {%endfor%}        
                        </article>   
                    </section>
                {%endif%}
                
                {% if model.video is defined and model.video  is not empty %}
                    <section class="GTMVideoReview">
                        <h3>Recensione <strong>+</strong></h3>
                        <div class="videoProduct">
                            <amp-youtube
                            data-videoid="{{ model.video | raw }}"
                            layout="responsive"
                            width="480" height="270"></amp-youtube>
                        </div>
                    </section>
                {%endif%}  
                
                {#{%if filterSimilarModels is defined and filterSimilarModels is not empty and models is defined and models is not empty %}
                    <section>
                        <h3>Prodotti Simili <strong>+</strong></h3>
                        <ul class="releatedModels">
                        {% for model in models%}
                            {% if model.typology is not empty %}            
                                {%set urlModel = generate('detailProduct',{'name':model.nameUrl, 'typology': model.typology.nameUrl, 'typologySingular': model.typology.singularNameUrl }) %}
                            {%else%}
                                {%set urlModel = generate('detailProduct',{'name':model.nameUrl, 'subcategory': model.subcategory.nameUrl, 'subcategorySingular': model.subcategory.singularNameUrl}) %}
                            {%endif%}
                            <li>
                                <h4><a href="{{urlModel}}">{{model.name}}</a></h4>
                                {% if model.lastPrice is defined and model.lastPrice > model.price  %}
                                    <span class="lineThrough">{{ model.lastPrice }} € -</span> 
                                    <span class="totalPrice"> {{ model.price }} </span> 
                                    <span class="euro"> € </span>
                                {% elseif  model.price is not empty %}
                                    da
                                    <span class="totalPrice"> {{ model.price }} </span> 
                                    <span class="euro"> € </span>
                                {% elseif  model.advisedPrice is not empty and model.advisedPrice != 0 %}
                                    {{labelPriceList}}
                                    <span class="totalPrice"> {{ model.advisedPrice }} </span> 
                                    <span class="euro"> € </span>
                                {% endif %}
                            </li>
                        {%endfor%}
                    </ul>
                    </section>
                {%endif%}#}
            </amp-accordion>        
    </section>
{% endif %}
<a name="releated" rel="nofollow"></a>