<div class="widget_ListSearchTerms widgetBoxShadow" >
    <table class="table footable">
        <thead>
            <tr> 
                <th class="center" data-hide="phone">Id</th>
                <th data-class="expand">Nome</th>
                <th data-class="expand">Label</th>
                <th data-class="expand">Rotta</th>
                <th data-class="expand">Sezione</th>
                <th data-class="expand">Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% if searchTerms is defined %}
                {% for searchTerm in searchTerms %}
                    <tr class="selectable">
                        <td class="important center" ><span class="badge {% if searchTerm.isTested %} badge-green {% else %} badge-red {% endif %}">{{searchTerm.id}}</span></td>
                        <td class="important" data-modify="input" data-field="screen">{{searchTerm.name}}</td>
                        <td class="important" data-modify="input" data-field="screen">{{searchTerm.displayLabel}}</td>
                        <td class="important" data-modify="input" data-field="screen">{{searchTerm.routeName}}</td>
                        <td class="important" data-modify="input" data-field="screen">{{searchTerm.section}}</td>
                        <td class="">           
                            <a href="{{ path('editSearchTerm', {'id': searchTerm.id}) }}" class="btn btn-green"><i class="fa fa-pencil"></i></a>
                            <a target="_blank" href="{{ testUrls[searchTerm.id]}}?test={{searchTerm.id}}" class="btn btn-blues"><i class="fa fa-eye"></i></a>
                            <button class="btn btn-sm btn-danger" data-deleteInlineForm="1">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>  
                    </tr>
                {%endfor%}
            {%endif%}
        </tbody>
    </table>
</div>
{%if fetch_widget_ListSize is defined %}
    {{ fetch_widget_ListSize|raw  }}
{%endif%}
<div class="button-action">
    <a href="javascript:history.back()"> 
        <div class="btnGoBack" id="btnGoBack">
            <i class="fa fa-arrow-circle-o-left"></i>
        </div>
    </a>
    <div class="buttonDefault" onclick="window.location.href = '{{ path('editSearchTerm') }}';">
        <div class="add">Crea nuova Ricerca</div>
        <i class=" fa  fa-plus-circle"></i>
    </div>
    <div id="toTop">
        <i class="fa fa-arrow-circle-o-left"></i>
    </div>
</div>
