{% if permission.category.read %}
    <div class="widget_ListCategories widgetBoxShadow" >
        <table class="table footable table-bordered table-condensed table-striped table-primary dynamicTable colVis table">
            <thead>
                <tr> 
                    <th class="center" data-hide="phone">Id</th>
                    <th data-class="expand">Categorie</th>
                    <th data-hide="phone,tablet">Immagine</th>
                    <th data-hide="phone,tablet">Meta Title</th>
                    <th data-hide="phone">Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    {% if categories is defined %}
                        <tr class="selectable"data-createForm="modifyCategory" data-entity="Category" data-id="{{category.id}}">
                            <td class="important center" ><span class="badge badge-blu">{{category.id}}</span></td>
                            <td class="important" data-modify="input" data-field="screen">{{category.name}}</td>
                            <td class="important " data-modify="input" data-field="active">
                                <img src="{{folder_img_category}}{{category.img}}">
                            </td>
                            <td class="important " data-modify="input" data-field="active">{{category.metaTitle}}</td>
                            <td class="">           
                                {% if permission.category.edit %}
                                    <a href="{{ path('editCategory', {'id': category.id}) }}" class="btn btn-green"><i class="fa fa-pencil"></i></a>
                                    {% endif %}
                                    {% if permission.category.remove %}
                                    <button class="btn btn-sm btn-danger" data-deleteInlineForm="1">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                {% endif %}
                            </td>  
                        </tr>
                    {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endif %}
{%if fetch_widget_ListCategories is defined %}
    {{ fetch_widget_ListCategories|raw  }}
{%endif%}
<div class="button-action">
    <a href="javascript:history.back()"> 
        <div class="btnGoBack" id="btnGoBack">
            <i class="fa fa-arrow-circle-o-left"></i>
        </div>
    </a>
    <div class="buttonDefault" onclick="window.location.href = '{{ path('editCategory') }}';">
        <div class="add">Crea nuova categoria</div>
        <i class=" fa  fa-plus-circle"></i>
    </div>
    <div id="toTop">
        <i class="fa fa-arrow-circle-o-left"></i>
    </div>
</div>
