{% if permission.model.read %}
    <div class="widgetBoxShadow">
            <div class="form">
                <form action="/admin/listModel" class="form-horizontal">
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Nome Modello 
                        </label>
                        <input class="form-control" type="text" name="name" value="{{app.request.query.get("name")}}">                            
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Stato
                        </label>
                        <select class="selectpicker form-control" select name="isCompleted" data-style="btn-primary">
                            <option value="">Scegli</option>                
                            <option {% if app.request.query.get("isCompleted") == '0' %}selected="selected"{%endif%} value="0">No</option>                
                            <option {% if app.request.query.get("isCompleted") == '1' %}selected="selected"{%endif%} value="1">Si</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Controllato
                        </label>
                        <select class="selectpicker form-control" select name="revisioned" data-style="btn-primary">
                            <option value="">Scegli</option>                
                            <option {% if app.request.query.get("revisioned") == '0' %}selected="selected"{%endif%} value="0">No</option>                
                            <option {% if app.request.query.get("revisioned") == '1' %}selected="selected"{%endif%} value="1">Si</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Categoria
                        </label>
                        <select class="categoriesSelect selectpicker form-control"  name="category" id="form_category" data-childrens='{"subcategory_":{"entity":"subcategory","find":"findSubcategoriesByCategory"}}'>
                            <option value="0">Scegli Categoria</option>
                            {% for category in allCategories %}
                                <option {% if app.request.query.get("category") == category.id %}selected="selected"{%endif%} value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>  
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Sottocategoria
                        </label>
                        <select class="subcategoriesSelect selectpicker form-control" name="subcategory" id="form_subcategory_" data-childrens='{"typology_":{"entity":"typology","find":"findTypologiesBySubcategory"}}'>
                            <option value="0">---</option>                                
                            {% for subcategory in allSubcategories %}
                                <option {% if app.request.query.get("subcategory") == subcategory.id %}selected="selected"{%endif%} value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Tipologia
                        </label>
                        <select class="typologiesSelect selectpicker form-control" name="typology" id="form_typology_" >
                            <option value="0">---</option>                                
                            {% for typoology in allTypologies %}
                                <option {% if app.request.query.get("typology") == typoology.id %}selected="selected"{%endif%} value="{{ typoology.id }}">{{ typoology.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            Top
                        </label>
                        <select class="selectpicker form-control" select name="top" data-style="btn-primary"> 
                            <option value="">Scegli</option>                
                            <option {% if app.request.query.get("top") == '0' %}selected="selected"{%endif%} value="0">No</option>                
                            <option {% if app.request.query.get("top") == '1' %}selected="selected"{%endif%} value="1">Si</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label active colorLabelFormForce" style="display: inline-block;">
                            In Vetrina
                        </label>
                        <select class="selectpicker form-control" select name="inShowcase" data-style="btn-primary"> 
                            <option value="">Scegli</option>                
                            <option {% if app.request.query.get("inShowcase") == '0' %}selected="selected"{%endif%} value="0">No</option>                
                            <option {% if app.request.query.get("inShowcase") == '1' %}selected="selected"{%endif%} value="1">Si</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        {%if app.request.get('date') is not null and app.request.get('date')  is not empty %}
                            {% set day   = app.request.get('date') | replace( ' ','-') | date( "d" ) %} 
                            {% set month = app.request.get('date') | replace( ' ','-')| date( "m" )  | trans({}, 'messages', 'it') %}
                            {% set year  = app.request.get('date')  | replace( ' ','-') | date( "Y" ) %}
                        {%endif%}
                        <div class="input-group date datepicker3">                            
                            <input class="form-control" type="text" value="{%if app.request.get('date') is not null and app.request.get('date')  is not empty %}{{ day }} {{ month }} {{ year }}{%endif%}" name="date" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" data-loading-text="Now searching ..." data-toggle="btn-loading"><div class="fa fa-search"></div></button>
                </form>
            </div>
        </div>
    <div class="widget_ListModels widgetBoxShadow" >
        <table class="table footable">
            <thead>
                <tr> 
                    <th class="center" data-hide="phone">Id</th>
                    <th data-class="expand">Modello 1</th>
{#                    <th data-class="expand">TP Url</th>
#}                  <th data-class="expand">Modello 2</th>  
                    <th data-class="expand">Url</th>                    
                    <th data-class="expand">Attivo</th>
                    <th data-class="expand">Top</th>
                    <th data-hide="phone">Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for comparison in comparisons %}
                    {% if comparison is defined %}
                        <tr class="selectable"data-createForm="modifyCOmparison" data-entity="Comparison" data-id="{{comparison.id}}">
                            <td class="important center" ><span class="badge badge-blu">{{comparison.id}}</span></td>
                            <td class="important" data-modify="input" data-field="screen">{{comparison.modelOne.name}}</td>
                            <td class="important" data-modify="input" data-field="screen">{{comparison.modelTwo.name}}</td>
                            <td class="important" data-modify="input" data-field="screen">{{comparison.nameUrl}}</td>
                            
                            <td class="important" data-modify="input" data-field="screen">
                                {% if comparison.isActive == 1%}
                                    SI
                                {%else%}
                                    No
                                {%endif%}
                            </td>
                            <td class="important" data-modify="input" data-field="screen">
                                {% if comparison.isTop == 1%}
                                    SI               
                                {%else%}
                                    no
                                {%endif%} 
                            </td>                            
                            <td class="">           
                                <a href="{{ path('editComparison', {'id': comparison.id}) }}" class="btn btn-green"><i class="fa fa-pencil"></i></a>
                                {% if permission.model.edit%}
                                    <button class="btn btn-sm btn-primary" data-changeTableModels="{{comparison.id}}" data-newTable="disabled_models">
                                        <i class="fa fa-random"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" data-deleteInlineForm="1">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                {%endif%}
                            </td>  
                        </tr>
                    {%endif%}
                {%endfor%}
            </tbody>
        </table>
        {{pagination | raw}}
    </div>
{% endif %}
{%if fetch_widget_ListModels is defined %}
    {{ fetch_widget_ListModels|raw  }}
{%endif%}
<div class="button-action">
    <a href="javascript:history.back()"> 
        <div class="btnGoBack" id="btnGoBack">
            <i class="fa fa-arrow-circle-o-left"></i>
        </div>
    </a>
    <div class="buttonDefault" onclick="window.location.href = '{{ path('editComparison') }}';">
        <div class="add">Crea nuovo Modello</div>
        <i class=" fa  fa-plus-circle"></i>
    </div>
    <div id="toTop">
        <i class="fa fa-arrow-circle-o-left"></i>
    </div>
</div>
