{% if permission.trademark.read %}
    <div class="widget_ListSex widgetBoxShadow" >
        <table class="table footable">
            <thead>
                <tr> 
                    <th class="center" data-hide="phone">Id</th>
                    <th data-class="expand">Sex</th>
                    <th data-class="expand">Sinonimi</th>
                    <th data-hide="phone">Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for sex in aSex %}
                    {% if sex is defined %}
                        <tr class="selectable">
                            <td class="important center" ><span class="badge badge-blu">{{sex.id}}</span></td>
                            <td class="important" data-modify="input" data-field="screen">{{sex.name}}</td>
                            <td class="important" data-modify="input" data-field="screen">{{sex.synonyms}}</td>
                            <td class="">           
                                <a href="{{ path('editSex', {'id': sex.id}) }}" class="btn btn-green"><i class="fa fa-pencil"></i></a>
                                <button class="btn btn-sm btn-danger" data-deleteInlineForm="1">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>  
                        </tr>
                    {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endif %}
{%if fetch_widget_ListSex is defined %}
    {{ fetch_widget_ListSex|raw  }}
{%endif%}
<div class="button-action">
    <a href="javascript:history.back()"> 
        <div class="btnGoBack" id="btnGoBack">
            <i class="fa fa-arrow-circle-o-left"></i>
        </div>
    </a>
    <div class="buttonDefault" onclick="window.location.href = '{{ path('editSex') }}';">
        <div class="add">Crea nuovo Sesso</div>
        <i class=" fa  fa-plus-circle"></i>
    </div>
    <div id="toTop">
        <i class="fa fa-arrow-circle-o-left"></i>
    </div>
</div>
