<!DOCTYPE html>
{#{% htmlcompress %} #}
<html lang="it">
    <head>
     {#   <link rel="dns-prefetch preconnect" href="https://www.googletagmanager.com">
        <link rel="dns-prefetch preconnect" href="www.google-analytics.com">
        <link rel="dns-prefetch preconnect" href="https://connect.facebook.net">     
        #}
     
        <link rel="preconnect" href="//www.googletagmanager.com">
        <link rel="dns-prefetch" href="//www.googletagmanager.com">
                
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height"/>    
        <meta name="theme-color" content="#2b6481">
{#        <meta property="fb:pages" content=""/>#}
        <meta name="google-site-verification" content="{{googleSiteVerification}}" />
        <meta name="msvalidate.01" content="{{bingSiteVerification}}" />
        
        {#<!-- TradeDoubler site verification 3039525 -->#}
{#        <meta name="robots" content="noindex">#}
        
        <title>
            {%if error404Page is not defined or error404Page is  empty %}
                {% block title %}
                    {%if pageTitle is defined%}
                        {{ adaptFromMeta( pageTitle | raw ) }}
                    {% endif %}
                {% endblock %}
            {%else%}
                404 Not Found - onoranzefunebritimperiguidonia.it
            {%endif%}
        </title>
        
        {%if error404Page is not defined or error404Page is  empty %}
            {%if pageDesc is defined%}
                <meta name="description" content="{{ adaptFromMeta( pageDesc | raw ) }}" />
            {% endif %}
            <link rel='stylesheet' id='penci_font_slogan-css'  href='/fonts/raleway/font-raleway.css' type='text/css' media='all' />
            {% if robots is defined and robots is not empty %}
                <meta name="robots" content="{{robots}}"/>
            {% endif %}
        {% endif %}
        
        {{ analyticsHead | raw }} 
                
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                
        
{#        <link rel="preload" href="https://connect.facebook.net/it_IT/fbevents.js" as="script">#}
       
        {%if error404Page is not defined or error404Page is  empty %}
            {% if canonicalUrl is defined %}
                <link rel="canonical" href="{{ canonicalUrl }}" />
            {% endif %}
            {% if ampHtmlUrl is defined and ampHtmlUrl is not empty %}
                <link rel="amphtml" href="{{ ampHtmlUrl }}" />
            {% endif %}
            {% if alternateUrl is defined and alternateUrl is not empty %}
                <link rel="alternate" media="only screen and (max-width: 480px)" href="{{ alternateUrl }}" />
            {% endif %} 

            {% if prevUrl is defined and prevUrl is not empty %}
                <link rel="prev" href="{{prevUrl}}" />
            {% endif %}         
            {% if nextUrl is defined and nextUrl is not empty %}
                <link rel="next" href="{{nextUrl}}" />
            {% endif %}                 

            {%if pagekwds is defined%}
                <meta name="keyword" content="{{ pagekwds| raw }}" />
            {% endif %}

            {%if canonicalUrl is defined %}
                <meta property="og:url" content="{{canonicalUrl}}"/>
            {%endif%}


            {%if ogType is not defined %}
                <meta property="og:type"   content="website" /> 
            {%else%}
                <meta property="og:type"   content="{{ogType}}" /> 
            {%endif%}

            {%if pageTitle is defined%}
                <meta property="og:title" content="{{pageTitle| raw}}"/>                    
                <meta name="twitter:title" content="{{pageTitle| raw}}" />
            {%endif%}

            {%if pageDesc is defined%}
                <meta property="og:description" content="{{pageDesc| raw}}"/>        
                <meta name="twitter:description" content="{{ pageDesc | raw }}" />
            {%endif%}

            {%if ogImage is defined and ogImage is not empty%}
                <meta property='og:image' content='{{ogImage}}' />
                <meta name="twitter:image" content="{{ogImage}}" />
            {%else%}
                <meta property="og:image" content="{{ extraConfigs.logoRichSnippet.value }}"/>
                <meta name="twitter:image" content="{{ extraConfigs.logoRichSnippet.value }}" />
            {%endif%}

            <meta property="og:site_name" content="onoranzefunebritimperiguidonia.it"/>

            <meta name = "format-detection" content = "telephone=no">        

            <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
    {#            "name": "{{currentDomain}}",#}
                "name": "onoranzefunebritimperiguidonia.it",
                "alternateName": "onoranzefunebritimperiguidonia.it",
                "url": "{{hostProtocol}}://{{wwwProtocol}}{{currentDomain}}"
            }          
            </script>

            <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "url": "{{hostProtocol}}://{{wwwProtocol}}{{currentDomain}}",
                "logo": "{{hostProtocol}}://{{wwwProtocol}}{{currentDomain}}/images/logotimperi.png"
              }          
            </script>

            <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "Person",
                  "name": "Onoranzefunebritimperiguidonia",
                  "url": "{{hostProtocol}}://{{wwwProtocol}}{{currentDomain}}"                          
                }
            </script>

            {%if jsonDataNewsArticleRichSnippet is defined and jsonDataNewsArticleRichSnippet is not empty%}
                <script type="application/ld+json">
                    {{jsonDataNewsArticleRichSnippet|raw}}
                </script>
            {%endif%}
            
            {%if jsonDataGuideRichSnippet is defined and jsonDataGuideRichSnippet is not empty%}
                <script type="application/ld+json">
                    {{jsonDataGuideRichSnippet|raw}}
                </script>
            {%endif%}
            
            {%if jsonDataQuestionRichSnippet is defined and jsonDataQuestionRichSnippet is not empty%}
                <script type="application/ld+json">
                    {{jsonDataQuestionRichSnippet|raw}}
                </script>
            {%endif%}

            {%if error404Page is not defined or error404Page is empty %}
                {%if jsonDataRichSnippetBreadcrumbs is defined and jsonDataRichSnippetBreadcrumbs is not empty%}
                    <script type="application/ld+json">
                        {{jsonDataRichSnippetBreadcrumbs|raw}}
                    </script>
                {%endif%}
            {%endif%}

            {%if jsonDataRichSnippetDetailProduct is defined and jsonDataRichSnippetDetailProduct is not empty%}
                <script type="application/ld+json">
                    {{jsonDataRichSnippetDetailProduct|raw}}
                </script>
            {%endif%}
        {%endif%}

          
        
        <style>                
            {% if extraStyle is defined  %}
                .widget-news .ranking .product {
                    width:{{widthTD}}%!important;
                }
                @media (max-width: 900px) {
                    .widget-news .ranking .product {
                        width: 100%!important;
                        float: none;
                        margin-bottom: 25px;
                        box-shadow: 0 0px 6px 4px #d6d4d4;
                    }
                }
                {{extraStyle}}
            {%endif%}
            {{aboveTheFoldCss|raw}}  
            
            .cookie-consent {
                position: fixed;
                bottom: 0;
                width: 100%;
                background: lightgray;
                padding: 10px;
                text-align: center;    
                z-index:99999999999;
                display:none;
            }
            .contCookie {
                margin: 0 auto;
                width: 27%;
                text-align: left;
                line-height: 24px;
                font-size: 13px;

            }
            #acceptCookie, #rejectCookie {
                background: #08660c;
                padding: 5px;
                border: navajowhite;
                width: 250px;
                color: #fff;
                float:left;
            }
            .rejectCoockie {    
                background: #8c0606!important;
                margin-left: 10px;
                width: 55px!important;
            } 
        </style>                           
        
        {%if googleScript is defined and googleScript is not empty %}
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {%endif%}
        {#<script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2895778574087441",
            enable_page_level_ads: true
          });
        </script>#}
            
    </head>
    <body> 
        
    {{ analyticsBody | raw }}
    
    {% block body %}{% endblock %}         
    
    <script>
        
        //GTM Trick selettori
        if (!Element.prototype.matches) {
            Element.prototype.matches = 
            Element.prototype.matchesSelector || 
            Element.prototype.mozMatchesSelector ||
            Element.prototype.msMatchesSelector || 
            Element.prototype.oMatchesSelector || 
            Element.prototype.webkitMatchesSelector ||
            function(s) {
                var matches = (this.document || this.ownerDocument).querySelectorAll(s),
                    i = matches.length;
                while (--i >= 0 && matches.item(i) !== this) {}
                return i > -1;            
            };
        }
        
        var lastPagePagination    = '{%if lastPagePagination is defined%}{{ lastPagePagination }}{%endif%}';
{#        var facebookAppId = '{{facebookAppId}}';#}
{#        var googleClientId = '{{googleClientId}}';#}
{#        var googleApiKey = '{{googleApiKey}}';#}
{#        var googleScopes = '{{googleScopes}}';#}
{#        var facebookScope = '{{facebookScope}}';#}
        var PAGE_URL = '{{canonicalUrl}}';
        var PAGE_IDENTIFIER = '{{canonicalUrl}}';
    </script>

    
    {# Inclusione librerie js #}
    {% if compactSite %}
        <script src="{{ folderJs }}/js_{{ fileSection }}_head.js?v={{ jsVersion }}"></script>
    {% else %}
        {% block dependenciesJSHead %}
            {% for key, file in dependenciesJSHead %}
                <script  src="{{ key }}?v={{ random() }}"></script>
            {% endfor %}
        {% endblock %}
    {% endif %}

    {# Inclusione librerie js #}
    {% if compactSite %}
        <script async src="{{ folderJs }}/js_{{ fileSection }}_body.js?v={{ jsVersion }}"></script>
        {#            <script src="{{ folderJs }}/js_homepage_body.js?v={{ jsVersion }}"></script>#}
    {% else %}
        {% block dependenciesJSBody %}
            {% for key, file in dependenciesJSBody  %}
                <script async src="{{ key }}?v={{ random()  }}"></script>
            {% endfor %}
        {% endblock %}
    {% endif %}

    
{#
      {% block stylesheetsCSSHead %}     

        <!--  Stylesheet Complete CSS compiled from ../assets/css/admin/module.admin.stylesheet-complete.less -->       
        {% if compactSite %}
            <link rel="stylesheet" type="text/css" href="{{ folderCss }}/css_{{ fileSection }}_head.css?v={{ cssVersion }}">
        {% else %}
            {% for key, file in dependenciesCSSHead %}
                <link rel="stylesheet" type="text/css" href="{{ key }}">
            {% endfor %}            
        {% endif %}
    {% endblock %} #}               

    {#main.allcategoriesproduct.template.css#}    

    {% if compactSite %}
        <link rel="stylesheet" type="text/css" href="{{ folderCss }}/main.{{ fileSection }}.css?v={{ cssVersion }}">
    {% else %}
        {% for key, file in dependenciesCSSBody %}
            <link rel="stylesheet" type="text/css" href="{{ key }}?v={{ random()  }}">
        {% endfor %}            
    {% endif %}  

    {% if compactSite is empty %}
        <link rel="stylesheet" type="text/css" href="{{ folderCss }}/Desk.BODY.{{ currentRouteCss }}.css?v={{ random()  }}">
    {% endif %}  
    {# <div id="boxOverlay">
        <div class="opacityBox"></div>
        <div class="container">            
            <div class="content">   
                <span data-closeoverlay class="close">X</span>
            </div>                
        </div>            
    </div>          #}
{#    {{ fbPixel | raw }}#}

<!-- Google tag (gtag.js) -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MHB1CZFHXJ"></script>

    <script>

    window.dataLayer = window.dataLayer || [];

    function gtag(){dataLayer.push(arguments);}

    gtag('js', new Date());

    gtag('config', 'G-MHB1CZFHXJ');

    </script>


    {%if googleScript is defined and googleScript is not empty %}
        <script>
            setTimeout(function() {
                (adsbygoogle = window.adsbygoogle || []).push({});
            }, 1000 )</script>                
    {%endif%}
    <script>
        window.onload = function() {
        var consent = localStorage.getItem('cookieConsent');
        
        if (consent !== 'true') {
            $('#cookieConsent').show();         
        } else {            
        }

        $('[data-acceptCookie]').click(function() {
            localStorage.setItem('cookieConsent', 'true');
            $('#cookieConsent').hide();
        });
    };
    </script>

    <div id="cookieConsent" class="cookie-consent">
        <div class="contCookie">
            Il Sito utilizza cookie di profilazione statistica per misurare le visite del Sito
            <br>Nome:Google Analytics 
            <br>Provide:Google,LLC. 
            <br>Descrizione: Misurazione delle visite al Sito a fini di analisi e di statistica 
            <br>Durata:2 anni	
            <br>Privacy Policy:http://www.google.com/intl/it/policies/privacy/ 
            <br>Opt-out:https://tools.google.com/dlpage/gaoptout
            <br><button id="acceptCookie" data-acceptCookie>Accetta</button>
            <button id="acceptCookie" data-acceptCookie class="rejectCoockie">Rifiuta</button>
        </div>
    </div>
       
</body>


    
</html>


{#{% endhtmlcompress %}#}

