<section class="widget_servicesFuneraleHome" data-menu>
    <div class="structure_Container">
        <h2>FUNERALE GUIDONIA E TIVOLI</h2>
        <p>Le nostre agenzie svolgono un <strong>servizio funebre</strong> altamente qualificato. L&rsquo;ottima qualit&agrave; delle prestazioni &egrave; garantita dalle competenze continuamente aggiornate del personale specializzato.&nbsp;</p>
        <p>Disponiamo di tre sedi che si trovano a <strong>Guidonia Montecelio, Tivoli e Villalba</strong>, che permettono di estendere l&rsquo;operativit&agrave; delle prestazioni funebri su tutto il territorio limitrofo e in ogni frazione della <strong>Provincia di Roma Est</strong> (Castel Madama, Villa Adriana, Villanova, Paterno, Marco Simone, Setteville), Roma comprresa.</p>
        <p>Siamo a disposizione in qualsiasi ora del giorno e della notte, <strong>24 su 24</strong>, per aiutare le famiglie colpite da un lutto.</p>
        <p>Sempre vicini e disponibili a fornire un aiuto a chi deve affrontare la scomparsa di una persona cara, contattate a Guidonia, le Pompe Funebri Timperi per richiedere le informazioni necessarie.</p>
    </div>
</section>
<section class="widget_servicesHome" data-menu>
    <div class="structure_Container">
        <h2>POMPE FUNEBRI GUIDONIA | Servizi</h2>
        <div class="service">
            <h3>Preparazione della salma</h3>
            <p>
                Uno degli aspetti più delicati che caratterizzano i primi momenti del decesso, che necessitano un intervento tempestivo immediato, è la preparazione della salma. 
                L’Agenzia di Pompe Funebri Timperi, ha la competenza per curare ogni particolare relativo alla vestizione e alla preparazione della salma: pulizia, disinfezione, lavaggio, rasatura per gli uomini.
            </p>            
                <a href="/{{prefixAmp}}preparazione-della-salma" class="read">                    
                        Leggi                    
                </a>                        
                <a href="tel:3490828881" title="Chiama ora ">
                    Chiama subito
                </a>            
        </div>
       <div class="service">
            <h3>Allestimento camera ardente</h3>
            <p>
                La camera ardente è la stanza dove è posto il defunto durante la veglia fino al funerale, allestita in casa o in un locale adibito, qualora il decesso sia avvenuto in ospedale.
                Allestiamo la camera ardente attenzionando e curando ogni minimo dettaglio, per creare un ambiente che sia in grado di accogliere i parenti, gli amici e  chiunque voglia dare un ultimo saluto al defunto.
            </p>            
                <a href="/{{prefixAmp}}allestimento-camere-ardenti" class="read">Leggi</a>                        
                <a href="tel:3490828881" title="Chiama ora" >
                    Chiama subito
                </a>            
        </div>
        <div class="service">
            <h3>Sepoltura della salma</h3>
            <p>
                La sepoltura è l'atto di deporre un cadavere nel suolo o in vari luoghi deputati e legalmente adibiti a tale pratica. 
                A seguito del rito funebre, le Onoranze Funebri Timperi, secondo le disposizioni del culto e del budget, gestiscono il servizio di inumazione o tumulazione.       
            </p>            
            <a href="/{{prefixAmp}}sepoltura-della-salma" class="read">Leggi</a>                        
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>            
        </div>
        <div class="service">
            <h3>Cremazione salma</h3>
            <p>
                La pratica della cremazione, sempre più diffusa in Italia, consiste nell’incenerimento della salma e nella raccolta in urne cinerarie oppure nella dispersione delle ceneri.
                Le Pompe Funebri Timperi sono al servizio delle famiglie per fornire il supporto necessario per le pratiche burocratiche e gli obblighi di legge al fine di procedere con l’incenerimento e la raccolta o dispersione delle ceneri.          
            </p>
            <a href="/{{prefixAmp}}cremazione-della-salma" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>            
        </div>
        <div class="service">
            <h3>Adempimenti dopo il decesso</h3>
            <p>
                Il decesso è un evento che può sconvolgere e causare confusione. Tuttavia, a seguito della perdita di una persona cara, è necessario attivarsi per svolgere delle pratiche burocratiche.
                Concessioni, pratiche sanitarie post mortem, diritti comunali e certificati, sono tutti documenti la cui compilazione è a carico dell'agenzia.         
            </p>            
            <a href="/{{prefixAmp}}adempimenti-dopo-il-decesso" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Trasporti funebri</h3>
            <p>
                L’Agenzia di Pompe Funebri Timperi dispone di carri funebri di ultima generazione, periodicamente revisionati e igienizzati dopo ogni servizio.
                L’Agenzia effettua trasporti funebri in ogni frazione della Provincia di Roma Est (Tivoli, Guidonia Montecelio, Villalba, Castel Madama, Villa Adriana, Villanova, Paterno, Marco Simone, Setteville) e su tutto il territorio nazionale ed internazionale.
            </p>            
            <a href="/{{prefixAmp}}trasporti-funebri" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>         
        </div>
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_servicesHome is defined %}
    {{ fetch_widget_servicesHome | raw  }}
{%endif%}
