

<footer  class="structure_Footer">
    <div class="bgfooter">
        {%if fetch_structure_Footer is defined %}
            {{ fetch_structure_Footer |raw  }}
        {%endif%}        
    </div>              
    <div class="info">
        <div class="copriwrite">© 2020 Acquistigiusti.it &nbsp;|&nbsp;</div>
{#        <div class="follow">#}
                {#<span>Seguici su</span>
                <span data-href="{{ extraConfigs.facebookFollowUs.value }}" class="btnFacebook"></span>#}
                {#<span data-href="{{ extraConfigs.googlePlus.value }}" class="btnGoogle"></span>
                <span data-href="{{ extraConfigs.twitterFollowUs.value }}" class="btnTwitter"></span>#}
{#            </div>    #}
            <div class="about-us">
                <a href="/info/chi-siamo">Chi Siamo,</a>
            </div>            
            <div class="coockie">
                <a href="/info/coockie">Informativa coockie,</a>
            </div>            
            <div class="email">
                Contatti: <a rel="nofollow" href="mailto:info@acquistigiusti.it">info@acquistigiusti.it</a>
            </div>
             <div class="follow">
                <span>Seguici su</span>
                <span on="tap:AMP.navigateTo(url='{{extraConfigs.facebookFollowUs.value}}')" role="button" tabindex="0" class="btnFacebook"></span>
{#                <span data-href="{{ extraConfigs.googlePlus.value }}" class="btnGoogle"></span>#}
{#                <span data-href="{{ extraConfigs.twitterFollowUs.value }}" class="btnTwitter"></span>#}
            </div>    
    </div>
</footer>
